<!DOCTYPE html>
<html lang="en">
<head>
     {{>links}}
</head>


<body>
    <!--  header part-->
   {{>navbar}}

   
   <!-- main header-->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side -->
                <div class="col-md-6 main_header_right">
                  <figure>
                    <img src="images/about.jpg" alt="raju" class="img-fluid" title="raju technical" height="300" width="480">
                  </figure>
                </div>


                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather App</p>
                    <h1>I am a <span class="text_clr"> <b>Developer</b> </span> by Heart, a <span class="text_clr"> <b>Technologist</b></span> by Soul</h1>
                    
                </div>
                <!-- right side -->
               
            </div>
        </div>
    </div>
    </div>

    <!-- footer part -->
    {{>footer}}
</body>
</html>