<!DOCTYPE html>
<html lang="en">
<head>
     {{>links}}
</head>


<body>
    <!--  header part-->
   {{>navbar}}

   
   <!-- main header -->
   <div class="container-fluid main_header ">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
            <div class="row">
                <!-- left side -->
                <div class="col-md-12 main_header_left align-items-center">
                  <figure class="errmsg">
                    <img src="images/404-Page.jpg"  class="img-fluid" >
                  </figure>

                  
                    <p>Welcome to Weather App</p>
                    <h1 style="color: #0097e6;"> <b>{{errorMsg}}</b> </h1>
                    <a href="/"><button style="background-color: burlywood;">Go Back</button></a>
                </div>    
               
            </div>
        </div>
    </div>
    </div>

    <!-- footer part -->
    {{>footer}}
</body>
</html>